.code-toolbar
{
    top: -7px;
    height: 730px;
    overflow: auto;
    font-size: 0.9 !important;

    scrollbar-color: #949393 #272822;
}

.code-toolbar::-moz-scrollbar-button:decrement,
.code-toolbar::-moz-scrollbar-button:increment,
.code-toolbar::-webkit-scrollbar-button:decrement,
.code-toolbar::-webkit-scrollbar-button:increment 
{
    display: none;
}

.SwitcherContent iframe 
{
    width: 100%;
    height: 100%;

    border-width: 0;

    background-color: #262626;
}

@media (max-width: 1000px)
{ 
    .code-toolbar
    {
        font-size: 0.8rem !important;
    }
}

@media (max-width: 500px)
{
    .code-toolbar
    {
        font-size: 0.5rem !important;
    }
}
