/* ----- Variabler ----- */ 
:root
{
    --bg: #fefcf8;
    --bg-card: #c8e2f0;
    --bg-card-shadow: #87b5cd;
    --bg-card-highlight: #1d1d27;
    --bg-panel: #c5b4fc;
    --bg-panel-shadow: #a797dd;
    --contact-icon: #000000;

    --content-switcher: var(--bg);
    --content-switcher-outline: var(--bg-panel-shadow);
    --switcher: var(--bg-panel);
    --switcher-active: var(--bg-panel-shadow);
    --switcher-hover: #dbd0ff;

    --steam-card: #1d2f44;
    --steam-text-primary: #107cac;

    --close-button: var(--bg);
    --close-button-hover: #a0a09f;
    
    --text-primary: #37373b;
    --text-primary-hover: #1d1d27;

    --in-page-navigation-text: #88878a;
    --in-page-navigation-text-active: #4743c5;

    --font: 'Quicksand', system-ui, -apple-system, sans-serif;

    --radius: 12px;
    --radius-sm: 6px;
    
    --header-shadow: 0 4px 2px var(--bg-panel-shadow);
    --footer-shadow: 0 -4px 2px (--bg-panel-shadow);
    --card-shadow: 2px 2px 6px #585874;
    --card-shadow-alt: 5px 5px 1px var(--bg-card-shadow);

    --content-switcher-shadow: 4px 4px 3px #8d7bc9;
    --switcher-shadow: 0px 4px 2px var(--bg-panel-shadow);

    --contact-radius: 50px;
    --contact-outline-width: 2px;
}

