/* ----- Variabler ----- */ 
:root
{
    /* ============================ Colors ============================*/

    --bg: #fefcf8;
    --bg-card: #c8e2f0;
    --bg-card-shadow: #87b5cd;
    --bg-card-highlight: #1d1d27;
    --bg-panel: #c5b4fc;
    --bg-panel-shadow: #a797dd;
    --bg-panel-active-shadow: #8775c1;
    --contact-icon: #000000;

    --content-switcher: var(--bg-panel-active-shadow);
    --content-switcher-outline: var(--bg-panel-shadow);
    --switcher: var(--bg-panel-shadow);
    --switcher-active: var(--bg-panel);
    --switcher-hover: #b8a7f0;

    --steam-card: #1d2f44;

    --close-button: var(--bg);
    --close-button-hover: #a0a09f;

    --github-tab-hover: #ac9ae4;
    --github-tab-border-hover: #9184c1;

    --tooltip: #555555;

    /* ============================ Anything Text ============================ */

    --font: 'Quicksand', system-ui, -apple-system, sans-serif;

    --text-primary: #37373b;
    --text-primary-hover: #1d1d27;
    
    --steam-text-primary: #107cac;

    --query: #656e72;
    
    --in-page-navigation-text: #88878a;
    --in-page-navigation-text-active: #4743c5;

    /* ============================ Sizes ============================*/

    --radius: 12px;
    --radius-sm: 6px;
    
    --contact-radius: 50px;
    --contact-outline-width: 2px;
    
    /* ============================ Shadows ============================*/

    --header-shadow: 0 4px 2px var(--bg-panel-shadow);
    --footer-shadow: 0 -4px 2px var(--bg-panel-shadow);
    --card-shadow: 2px 2px 6px #585874;
    --card-shadow-alt: 5px 5px 1px var(--bg-card-shadow);

    --content-switcher-shadow: 4px 4px 3px #8d7bc9;
    --switcher-shadow: 0px 4px 2px var(--bg-panel-active-shadow);
    --switcher-active-shadow: 0px 4px 2px var(--bg-panel-shadow);

    --github-tab-shadow: 0px 4px 2px var(--bg-panel-shadow);
}

