@import url('properties.css');

@media(max-width: 1700px)
{
    .InPageNavigation ul
    {
        font-size: 1.5rem;
    }

    .FieldContent
    {
        padding: 1.5rem 4rem;
    }

    .TooltipLine
    {
        width: 90%;
    }
    
    .ContentSwitcher
    {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media(max-width: 1500px)
{
    .NavItem
    {
        font-size: 1.3rem;
    }

    .Contacts ul
    {
        padding: 0;
        padding-right: 1rem;
    }

    .Contacts
    {
        flex: 0 1 15%;
    }
    
    .Fields a
    {
        width: 250px;
        height: 250px;
    }
    
    .InPageNavigation ul
    {
        padding-right: 0.5rem;
    }
}

@media(max-width: 1100px)
{
    .Nameplate h1
    {
        font-size: 1.2rem;
    }

    .Nameplate h2
    {
        font-size: 0.9rem;
    }

    .InPageNavigation
    {
        display: none;
    }

    .FieldContent
    {
        width: 80%;
    }
    
    .GithubSideTab
    {
        width: 80px;
        height: 75px;
    }
}

/* Mobiled display*/
@media (max-width: 1000px)
{ 
    .Projects
    {
        flex-direction: column;
        align-items: center;
    }

    /* ----- Nameplate ----- */

    .Nameplate
    {
        flex-grow: 1;
    }

    /* ----- Intro Card ----- */

    .Primer
    {
        padding-top: 0.5rem;
    }
    
    .IntroCard h1
    {
        font-size: 1.5rem;
    }
    
    .IntroCard
    {
        padding: min(2rem, 10%);
        margin: 1rem;
        margin-top: 6rem;
    }
     
    .Fields li
    {
        margin: 1rem 1rem;
    }

    .Fields a
    {
        margin: auto;
    }

    /* ----- About Me ----- */

    .AboutMeBanner
    {
        padding: 1rem;
    }

    .AboutMeCard
    {
        width: 90%;
    }

    .AboutMeContent
    {
        margin: 1rem;
    }

    .AboutMeDescription
    {
        padding: 1rem;
        padding-top: 2rem;
    }

    .Qualifications
    {
        flex-direction: column;
    }

    .AboutMeCard
    {
        flex-direction: column;
        align-items: center;
    }

    .AboutMeContent
    {
        padding: 1rem;
        margin: 0;
    }

    /* ----- Navigation ----- */

    .Navigation
    {
        display: none;
    }

    .NavItem
    {
        font-size: 2rem;
        line-height: 3;
    }

    .Contacts ul
    {
        margin: 0.5rem;
    }

    .Contacts
    {
        display: none;
    }

    #CV
    {
        width: var(--contact-radius-mobile);
        height: var(--contact-radius-mobile);

        & > h1
        {
            font-weight: 500;
            font-size: 2.0rem;
        }
    }

    /* ----- Mobile ----- */

    .Dropdown
    {
        display: block;
    }

    .MobileSpacer
    {
        display: block;
    }

    .ContactItem
    {
        width: var(--contact-radius-mobile);
    }

    .Education
    {
        padding: 1rem;
        padding-bottom: 3rem;
    }

    .EducationContent
    {
        flex-direction: column;
        
        & > p
        {
            margin-top: 1rem;

        }
    }

    /* ----- Github Tab ----- */

    .GithubSideTabContainer
    {
        top: 0.3rem;

        height: calc(100% - 1rem);
    }

    .GithubSideTab
    {
        border-left: none;
        border-radius: 50px 0px 0px 50px;

        width: 75px;
        height: 75px;

        top: 80px;

        margin-left: calc(100% - 65px);
    }

    .GithubSideTab img
    {
        padding: 0.25rem;
    }

    .GithubSideTab:hover,
    .GithubSideTab:active
    {
        transform: scale(1.1);

        width: 100px;
    }

    /* ----- Content ----- */

    .FieldContent
    {
        margin-top: 5rem;
        padding: 1.5rem 2rem;
        width: 95%;

        & > h1
        {
            font-size: 1.8rem;
        }

        & > h2,
        & > h3
        {
            font-size: 1.4rem;
        }

        & > p
        {
            font-size: 1.1rem;
        }
    }

    .Team
    {
        font-size: 1.0rem;
    }

    table th    
    {
        width: 175px;
    }

    table tr
    {
        margin-bottom: 1rem;
    }

    footer p
    {
        font-size: 0.8rem;
    }

    .GameShowcase
    {
        padding-top: 1rem;
        max-width: 100%;
    }

    .GameDisplayCard
    {
        padding: 1.5rem 1.0rem;

        & > ul  
        {
            font-size: 0.9rem;
        }
    }

    .GameAttachments
    {
        flex-direction: column;
        margin: auto;
        align-items: center;
    }

    .GameDisplayCard h1
    {
        font-size: 2rem;
    }

    .Game
    {
        margin: 1.5rem;
        margin-bottom: 8rem;

        width: 90%;
    }

    .GameEngine
    {
        width: 40px;
    }

    .GameCard
    {
        bottom: -50%;

        & > h1
        {
            font-size: 1.2rem;
        }

        & > p
        {
            padding: 0.4rem;
        }
    }

    .OnSteam
    {
        left: -15px;
        width: 150px;

        & > a h1
        {
            font-size: 1.1rem;
            font-weight: 600;
            line-height: 2;
        }
    }

    /* ----- Switchers ----- */
    
    .Switch
    {
        padding: 0.5rem 0.5rem;
        font-size: 1.0rem;
    }

    .ContentSwitcher
    {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }

    /* ----- Image Modal ----- */

    .ModalImage
    {
        /*
        transform: rotate(90deg);

        width: 100vh;
        */
        padding: 0.25rem;
    }
}